---
---
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-toggle {
  cursor: pointer;
}
.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background: #1a1a1a;
  border: 1px dashed #555;
  list-style: none;
  padding: 0.3em 0;
  margin: 0;
  min-width: 180px;
  z-index: 10;
}
.dropdown-menu li a {
  display: block;
  padding: 0.3em 1em;
  white-space: nowrap;
}
.dropdown-menu li a:hover {
  background: #333;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
