---
---
.dropdown {
  position: relative;
}
.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 1.8em;
  background: var(--background-color);
  border: 1px dashed var(--text-color);
  list-style: none !important;
  padding: 0.4em 0 !important;
  margin: 0 !important;
  min-width: 180px;
  z-index: 10;
  text-align: left;
}
.dropdown-menu li {
  display: block !important;
  margin-left: 0 !important;
}
.dropdown-menu li:before {
  content: "" !important;
  margin-right: 0 !important;
}
.dropdown-menu li a {
  display: block;
  padding: 0.2em 1em;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
